[submodule "zsh/zsh-files/ohmyzsh"]
	path = zsh/zsh-files/ohmyzsh
	url = https://github.com/askiiart/ohmyzsh
[submodule "zsh/zsh-files/.oh-my-zsh"]
	path = zsh/zsh-files/.oh-my-zsh
	url = https://github.com/askiiart/.oh-my-zsh
